In [1]:
# ipynb -- notebook(Intractive python notebook)
# py -- python scripts

In [2]:
#Datatypes()
# Numeric -- int,float(decimal values)
# String --Sequence of characters, has to be enclosed with single or double quotes.
# Boolean -- True(1) false(0)

In [3]:
# = assignment operator 
var = 20
var1 = "Data mites"
var3 = "This is my first day"
var4 = 10.3
# calling the variable(used for further tasks)
var4
# printing the variable(to visualize the variable)
print(var1)

Data mites

In [8]:
var1 = 10 
var1 = 20 # op= 10,20
var1

20

In [9]:
# Multiple assignment
name,age,dep= 'Hages', 20, 'IT'
print(name,age,dep)

hages 20 IT

In [46]:
# Multiple equal assignment
T_mark=E_mark=M_mark=50
print(E_mark)

50

In [17]:
num1 =5
num2 = 2
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1//num2)
print(num1%num2)
print(num1**num2)

7
3
10
2.5
2
1
25

In [18]:
5**2 # Squaring the number

25

In [19]:
# Area of Rectangle
len =10 
bre =5
area =len*bre
print(area)

50

In [21]:
# Area of Circle (2*pi*r**2)
pi,r=3.14,10
cir=2*pi*r
print(cir)

62.800000000000004

In [24]:
# Ares of Speare (4/3*pi*(r**2)) 
pi=3.14
r=10
speare=(4/3)*pi*(r**2)
print(speare)

418.66666666666663

In [28]:
#Converting hrs to min
hr=6
minu=60
print(hr*minu)

360

In [3]:
#Convering meters to kilometers
meters = 6000
km=meters/1000
print(km)

6.0

In [2]:
#BMI (Body Mass Index) = weight in kg/(height in meters)**2
weight,height=50,155
h_to_m=height/100
h_to_m

155000.0

In [45]:
bmi=weight/h_to_m**2
bmi

20.811654526534856

In [40]:
price=500
dis = price*5/100 # finding discount for 5%
print(price-dis)

475.0